.Index {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;

  @media ( max-width: $mobileMax ) {
    padding: 0 1rem;
  }

  .indexContainer {
    width: 480px;

    @media ( max-width: $mobileMax ) {
      width: 100%;
    }
  }
}
