.Issues {
  .NoIssues {
    color: $grey;
    padding: 17rem 0 10rem;
    text-align: center;
  }

  footer {
    font-family: 'Barriecito', cursive;
    font-size: 2rem;
    font-weight: 700;
    padding: 10rem 0;
    text-align: center;
    text-transform: uppercase;
  }
}
